SPRING_PROFILES_ACTIVE=prod
DATABASE_URL=jdbc:postgresql://localhost:5432/ballers_club
DATABASE_USERNAME=ballers_club
DATABASE_PASSWORD=change-me
PORT=8080
COOKIE_SECURE=true
BALLERS_CLUB_ADMIN_USERNAMES=change-me
DDL_AUTO=update
